.container{:style => "background-color:#FFCCFF"}
  .row
    .col-sm-3
      %h1 ResultantListings
      %h2 ruby and rails
      .col-sm-6
        %a.pull-left{:href => "#", :target => "_parent"}
          #form-right
            %img.img-responsive{:alt => "image", :src => "/assets/1.png", :height => 100, :width => 100}/
    
            %p nice building dealers
            .col-sm-6
              %a.pull-left{:href => "#", :target => "_parent"}
                #form-right
                  %img.img-responsive{:alt => "image", :src => "/assets/2.png", :height => 100, :width => 100}/
                  
                  %p quality dealers
