.container-fluid{:style => "background-color:#FFFFFF"}
  #property-listings.container.container-pad
    .row
      .col-md-12
        .col-xs-12
        %h1 Resultant Home Listings
        %p A snippet I recently used to display homes for a local brokerage.  Focused more on images when accessed through mobile
    .row
      .col-xs-3
      .col-xs-6
        / End Listing
        / Begin Listing: 218 LYNNEBROOK LN
        .brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
          .media
            %a.pull-left{:href => "#", :target => "_parent"}
            #form-right
              %img.img-responsive{:alt => "image", :src => "http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg", :height => 100, :width => 100}/
            .clearfix.visible-xs
            .media-body.fnt-extrasmaller
              %a{:href => "#", :target => "_parent"}
              %h4.media-heading
                %a{:href => "#", :target => "_parent"}
                  BUILDING TITILE
                  
                  $1,975,000
                  %small.pull-right  view
              %ul.list-inline.mrg-0.btm-mrg-10.clr-535353
                %li 6,959 SqFt
                %li{:style => "list-style: none"} |
                %li 6 Beds
                %li{:style => "list-style: none"} |
                %li 5 Baths
                %li kotha guda street 3 
                %li  AgentName : ravi
                %li ContactNo : 9999999999
                %li Listed : 1 day ago
                %li status :active/sold
              %p.hidden-xs
                Impressively positioned
                overlooking 3.5 captivating acres, designated
                as "significant" by the chestnut hill
                historical s...
             
        / End Listing
        / Begin Listing: 209 CHESTNUT HILL AVE
        .brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
          .media
            %a.pull-left{:href => "#", :target => "_parent"}
              %img.img-responsive{:alt => "image", :src => "http://images.prd.mris.com/image/V2/1/iwn7qH9r9OPnqTaTTxxb8PBzQHk2EiHU2PBBntt041AZsVsGY-SeUexTMLgRcYSJukrKOwHaYnTVXAsk6RdSmA.jpg", :height => 100, :width => 100}/
            .clearfix.visible-xs
            .media-body.fnt-smaller
              %a{:href => "#", :target => "_parent"}
              %h4.media-heading
                %a{:href => "#", :target => "_parent"}
                  BUILDING TITLE
                  $1,599,999
                  %small.pull-right view
              %ul.list-inline.mrg-0.btm-mrg-10.clr-535353
                %li 16,581 SqFt
                %li{:style => "list-style: none"} |
                %li 8 Beds
                %li{:style => "list-style: none"} |
                %li 4 Baths
                %li nanakram guda street 5
                %li AgentName : rahul
                %li ContactNo : 8888888888
                %li Listed : 2 days ago
                %li status : active/sold
              %p.hidden-xs
                Built by qulitative goods
                and well furnished
             
        / End Listing
        / Begin Listing: 704 SAINT GEORGES ST
        .brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
          .media
            %a.pull-left{:href => "#", :target => "_parent"}
              %img.img-responsive{:alt => "image", :src => "http://images.prd.mris.com/image/V2/1/7IZk2HTN0AcHnIb7VCvisTUc3kTbn0UyHQlVAlwkNLM3_8UNN8pcgy9u6KVNoRGGH_kdUlpYehdbqzctRNUebg.jpg", :height => 100, :width => 100}/
            .clearfix.visible-xs
            .media-body.fnt-smaller
              %a{:href => "#", :target => "_parent"}
              %h4.media-heading
                %a{:href => "#", :target => "_parent"}
                  BUILDING NAME
                  $1,595,000
                  %small.pull-right view
              %ul.list-inline.mrg-0.btm-mrg-10.clr-535353
                %li 45992 SqFt
                %li{:style => "list-style: none"} |
                %li 4 Beds
                %li{:style => "list-style: none"} |
                %li 5 Baths
                %li hi-tech city street 3
                %li AgentName : naveen
                %li ContactNo : 9955667788
                %li Listed : 5 dats ago
                %li status : active/sold
              %p.hidden-xs
                It is proud
                to offer the second of two distinctly unique
                homes located on one of the most desirable
                stree...
             
        / End Listing
        / Begin Listing: 1220-32 N HOWARD ST
        .brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
          .media
            %a.pull-left{:href => "#", :target => "_parent"}
              %img.img-responsive{:alt => "image", :src => "http://images.prd.mris.com/image/V2/1/vGoNjc2jHGb87GlnnDQlf6LxeOUgIOn0bL6Wvn1nEnig2Ntq6W7xN5cOQBZZeNxl9O42DOkHUw0LNnj1ZB2KHA.jpg", :height => 100, :width => 100}/
            .clearfix.visible-xs
            .media-body.fnt-smaller
              %a{:href => "#", :target => "_parent"}
              %h4.media-heading
                %a{:href => "#", :target => "_parent"}
                  BUILDING TITLE
                  $1,500,000
                  %small.pull-right view
              %ul.list-inline.mrg-0.btm-mrg-10.clr-535353
                %li 4,900 SqFt
                %li{:style => "list-style: none"} |
                %li 1 Beds
                %li{:style => "list-style: none"} |
                %li 1 Baths
                %li somaji guda street 1
                %li AgentName:naresh
                %li ContactNo:8899889988
                %li Listed : 1 week ago
                %li status : active/sold
              %p.hidden-xs
                A once in a lifetime
                opportunity to own a unique live / work space
                in one of the most popular
                neighborhoods. ...
             
        / End Listing
        / Begin Listing: 9006 CREFELD ST
        .brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
          .media
            %a.pull-left{:href => "#", :target => "_parent"}
              %img.img-responsive{:alt => "image", :src => "http://images.prd.mris.com/image/V2/1/uLp58OH37CTPHxXcgJXYw8zT2u3xg_2XIbFndB6J0WTSAStGBaEV6YsdAseSZTKAdthm0OzG-Ca_EIkoXIEBxw.jpg", :height => 100, :width => 100}/
            .clearfix.visible-xs
            .media-body.fnt-smaller
              %a{:href => "#", :target => "_parent"}
              %h4.media-heading
                %a{:href => "#", :target => "_parent"}
                  BUILDING TITLE
                  $1,295,000
                  %small.pull-right view
              %ul.list-inline.mrg-0.btm-mrg-10.clr-535353
                %li 7,672 SqFt
                %li{:style => "list-style: none"} |
                %li 7 Beds
                %li{:style => "list-style: none"} |
                %li 5 Baths
                %li madhapur x-roads
                %li AgentName : suprith
                %li ContactNo : 8899776633
                %li Listed : few days ago
                %li status : active/sold
              %p.hidden-xs
                Located in hyderbad,
                recently named by the  planning
                association as one of  top 10 great
                neighborh...
              
        / End Listing
        / Begin Listing: 701 W ALLENS LN
        .brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
          .media
            %a.pull-left{:href => "#", :target => "_parent"}
              %img.img-responsive{:alt => "image", :src => "http://images.prd.mris.com/image/V2/1/K12MLs4i-e2rsQ-rA6DoCwlysXSrEXZyHtCFkrOLsvK1y2mvbUrlmw5pMXX1laXlnY9_0VU82YeS3EucwIchtg.jpg", :height => 100, :width => 100}/
            .clearfix.visible-xs
            .media-body.fnt-smaller
              %a{:href => "#", :target => "_parent"}
              %h4.media-heading
                %a{:href => "#", :target => "_parent"}
                  BUILDING TITLE
                  $1,175,000
                  %small.pull-right  view
              %ul.list-inline.mrg-0.btm-mrg-10.clr-535353
                %li 9,824 SqFt
                %li{:style => "list-style: none"} |
                %li 8 Beds
                %li{:style => "list-style: none"} |
                %li 5 Baths
                %li tarnaka street 8
                %li AgentName : madhu
                %li ContactNo : 8877665544
                %li Listed : 1 month ago
                %li status : active/sold
              %p.hidden-xs
                A once in a lifetime
                opportunity! live in this grand home with its
                stunning entry and staircase, bedroom suites,
                firepla...
             
        / End Listing
      / End Col
    / End row
  End container 
