// = require font-awesome
// = require_self
// = require_tree .

@import 'bootstrap'
@import 'font-awesome'

.container  
  //background-color:  #6E796D

.header
  margin-bottom: 195px
  //background-color: #6E796D

.top-bar-one

.top-bar-one-left
  background: url(http://img.makaan.com/images/mkn/top-g.jpg) repeat-x top left
  //background-color: #2C472A
  height: 40px
  width: 7%
  float: left
.top-bar-one-middle
  background: url(http://img.makaan.com/images/mkn/top-g.jpg) repeat-x top left
  //background-color: #2C472A
  height: 40px
  width: 75%
  float: left
.top-bar-one-right
  background: url(http://img.makaan.com/images/mkn/top-g.jpg) repeat-x top left
  //background-color: #2C472A
  height: 40px
  width: 18%
  float: right
  font: 100% Helvetica  sans-serif
  color: white
.top-bar-two
  //height: 200px
  //background-color: #6E796D
.top-bar-two-left
  //background-color: #2C472A
  height: 150px
  width: 50%
  float: left
.top-bar-two-right
  //background-color: #2C472A
  height: 150px
  width: 50%
  float: left
#main-logo
  height: 100%
  width: 100%
  margin-left: 2px
  margin-top: 2px
  margin-right: 2px  
  margin-bottom: 2px
  //padding: 10px 10px 10px 10px
  border: 3px solid orange
  //border: 5px solid gray
#property-logo
  height: 200px
  width: 230px
  margin-left: 2px
  margin-top: 2px
  margin-right: 2px  
  margin-bottom: 2px
  //padding: 10px 10px 10px 10px
  border: 3px solid orange
  //border: 5px solid gray

.search-box
  background: url(http://img.makaan.com/images/mkn/top-g.jpg) repeat-x top left
  height: 400px
  width: 100%
  float: left
  //background-color: #2C472A
  padding: 10px 30px 30px 10px
.col-sm-6
  //float: left
  display: flex
  height: 220px
  //width: 50%

//.col-sm-6
  //height: 470px
  //font: 12px/18px 'Open Sans', Arial, Helvetica, sans-serif
  //color: #494949
  //background: url(http://img.makaan.com/images/mkn/bg.jpg) repeat top left
  //font-style: normal
  //line-height: normal
  //height: 400px
  //width: 50%
  // float: left
  // background-color: #65DC5C
.body-top
  //height: 300px
  //width: 100% 
.body-bottom
  //height: 300px
  //width: 100%  
.body-image
  //height: 400px
  width: 55%
  //float: left
  //background-color: #2C472A
.body-image1
  width: 45%

.body-navigation
  //height: 400px
  width: 50%
  float: left
  //background-color: #2C472A
.input-group
  height: 80px
  width: 30%
  
.social 
  float: left
  padding: 0

.title 
  color: #fff
  font-size: 14px
  font-weight: 700
  padding: 8px 0 15px
.footer 
  height: 100px
  width: 100%
  float: left
  background-color: #2C472A
.customlabel
  color: gray
  font-size: 16px
  font-weight: 700
  padding: 8px 0 15px
%h4
  color: red
  
  
